{
  "extends": "standard",
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "expect": true,
    "chai": true,
    "request": true,
    "it": true,
    "describe": true,
    "supertest": true,
    "faker": true,
    "fake": true,
    "fakeMulti": true,
    "nock": true,
    "api": true,
    "sinon": true
  }
}
