{
  "extends": "standart",
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "expect": true,
    "chai": true,
    "request": true,
    "it": true,
    "describe": true
  }
}
